.background::before{
    content: "";
    background: url("./assets/images/background.jpg") center center / cover no-repeat fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: fixed;
    filter: blur(3px) brightness(0.6) drop-shadow(2px 4px 6px black);
}