.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.gmap_iframe {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
}