:root {
    /* Colors */
    --background: #ffffff;
    --bglightblue: #c5d2ff;
    --bgdarkblue: #b1c1f2;
    --dark: #103872;
    --text: #322d2d;
    --white: #f4f4f4;
    --lighttext: #605d5d;
    --glar: rgba(0, 0, 0, 0.46);
  
    /* Fonts */
    --subheading: 700 28px/36px "Roboto Mono", sans-serif;
    --cursive: 400 24px "Kaushan Script", sans-serif;
    --primary: 500 14px/40px "Ubuntu", sans-serif;
    --menu: 700 24px "Roboto", sans-serif;
    --headings: 700 32px "Roboto", sans-serif;
  
    /* Effects */
    --shadow-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  


.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #ffffff;
  width: 1280px;
  height: 832px;
  position: relative;
  overflow: hidden;
}
.pexels-muffin-creatives-2468773-1 {
  width: 1280px;
  height: 832px;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 416px);
}
.frame-29 {
  width: 1280px;
  height: 832px;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 416px);
  overflow: hidden;
}
.all-rights-reserved-to-baswanth {
  color: #ffffff;
  text-align: center;
  font: var(--primary, 500 14px/40px "Ubuntu", sans-serif);
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 129px);
  top: calc(50% - -369px);
}
.frame-30 {
  width: 1180px;
  height: 732px;
  position: absolute;
  left: calc(50% - 590px);
  top: calc(50% - 366px);
  overflow: hidden;
}
.frame-31 {
  width: 795px;
  height: 356px;
  position: absolute;
  left: 50px;
  top: calc(50% - 178px);
  overflow: hidden;
}
.hi-i-m-papisetty-baswanth {
  color: #ffffff;
  text-align: center;
  font: var(--headings, 700 32px "Roboto", sans-serif);
  position: absolute;
  left: 356px;
  top: calc(50% - 109px);
}
.i-am-web-and-mobile-application-developer {
  color: #ffffff;
  text-align: center;
  font: var(--cursive, 400 24px "Kaushan Script", sans-serif);
  position: absolute;
  left: 356px;
  top: calc(50% - 58px);
}
.ellipse-1 {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: calc(50% - 150px);
}
.button-border {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: var(--white, #f4f4f4);
  border-width: 2px;
  padding: 7px 32px 7px 32px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  position: absolute;
  left: 537px;
  top: 216px;
  overflow: hidden;
}
.skills {
  color: var(--white, #f4f4f4);
  text-align: left;
  font: 700 24px "Ubuntu Mono", sans-serif;
  position: relative;
}
.full-button {
  background: var(--white, #f4f4f4);
  border-radius: 50px;
  padding: 7px 0px 7px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  position: absolute;
  left: 356px;
  top: 216px;
  overflow: hidden;
}
.explore {
  color: var(--text, #322d2d);
  text-align: left;
  font: 700 24px "Ubuntu Mono", sans-serif;
  position: relative;
}
.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 253px;
  height: 44px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.git-alt-white {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.linkedin-in-white {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.globe-white {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.instagram-white {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-32 {
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(244, 244, 244, 0) 94.27083134651184%
  );
  border-image-slice: 1;
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 284px;
  position: absolute;
  right: 25px;
  top: calc(50% - 142px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.home {
  color: #ffffff;
  text-align: left;
  font: var(--menu, 700 24px "Roboto", sans-serif);
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font: var(--menu, 700 24px "Roboto", sans-serif);
  position: relative;
}
.experience {
  color: #ffffff;
  text-align: left;
  font: var(--menu, 700 24px "Roboto", sans-serif);
  position: relative;
}
.projects {
  color: #ffffff;
  text-align: left;
  font: var(--menu, 700 24px "Roboto", sans-serif);
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: var(--menu, 700 24px "Roboto", sans-serif);
  position: relative;
}
