@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu%20Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto%20Mono:wght@100;400&display=swap');

body,
html {
    font-family: 'Roboto', 'Roboto Condensed', 'Roboto Mono';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.roboto {
    font-family: 'Roboto';
}
.robotom{
    font-family: 'Roboto Mono';
}
.Staatliches {
    font-family: 'Staatliches';
}
.ubuntum {
    font-family: 'Ubuntu Mono';
}
.pacifo{
    font-family: 'Pacifico';
}
.fullheight{
    min-height: 100vh;
}
.gradienticon{
    background:linear-gradient(134.85deg, #BCD1FF 1.75%, #9CBBFF 100%), #BCD1FF
}